.cell {
  height: 4rem;
  width: 4rem;
  border: 1px solid var(--default-cell-border-color);
  background-color: var(--default-cell-background-color);
  transition: background 0.3s ease;
}

.cell_active {
  background-color: var(--active-cell-background-color);
}

.cell_failed {
  background-color: var(--failed-cell-background-color);
}

.cell_succeeded {
  background-color: var(--succeeded-cell-background-color);
}
